<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ezhihui.www.dao.GradeDAO">
    <resultMap id="BaseResultMap" type="com.ezhihui.www.domain.Grade">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="grade_name" property="gradeName" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, grade_name
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from tb_grade
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_grade
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.ezhihui.www.domain.Grade">
    insert into tb_grade (id, grade_name)
    values (#{id,jdbcType=INTEGER}, #{gradeName,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.ezhihui.www.domain.Grade">
        insert into tb_grade
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="gradeName != null">
                grade_name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="gradeName != null">
                #{gradeName,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.ezhihui.www.domain.Grade">
        update tb_grade
        <set>
            <if test="gradeName != null">
                grade_name = #{gradeName,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ezhihui.www.domain.Grade">
    update tb_grade
    set grade_name = #{gradeName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <select id="getAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_grade
    </select>
</mapper>