<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ezhihui.www.dao.StudentDAO">
    <resultMap id="BaseResultMap" type="com.ezhihui.www.domain.Student">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="grade" property="grade" jdbcType="INTEGER"/>
        <result column="class" property="className" jdbcType="VARCHAR"/>
        <result column="school" property="school" jdbcType="VARCHAR"/>
        <result column="telephone" property="telephone" jdbcType="VARCHAR"/>
        <result column="telephone_parent" property="telephoneParent" jdbcType="VARCHAR"/>
        <result column="desc" property="desc" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, name, grade, class, school, telephone, telephone_parent, desc
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from tb_student
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_student
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.ezhihui.www.domain.Student">
    insert into tb_student (id, name, grade, 
      class, school, telephone, 
      telephone_parent, desc)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{grade,jdbcType=INTEGER}, 
      #{className,jdbcType=VARCHAR}, #{school,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR},
      #{telephoneParent,jdbcType=VARCHAR}, #{desc,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.ezhihui.www.domain.Student">
        insert into tb_student
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="grade != null">
                grade,
            </if>
            <if test="className != null">
                class,
            </if>
            <if test="school != null">
                school,
            </if>
            <if test="telephone != null">
                telephone,
            </if>
            <if test="telephoneParent != null">
                telephone_parent,
            </if>
            <if test="desc != null">
                desc,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="grade != null">
                #{grade,jdbcType=INTEGER},
            </if>
            <if test="className != null">
                #{className,jdbcType=VARCHAR},
            </if>
            <if test="school != null">
                #{school,jdbcType=VARCHAR},
            </if>
            <if test="telephone != null">
                #{telephone,jdbcType=VARCHAR},
            </if>
            <if test="telephoneParent != null">
                #{telephoneParent,jdbcType=VARCHAR},
            </if>
            <if test="desc != null">
                #{desc,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.ezhihui.www.domain.Student">
        update tb_student
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="grade != null">
                grade = #{grade,jdbcType=INTEGER},
            </if>
            <if test="className != null">
                class = #{className,jdbcType=VARCHAR},
            </if>
            <if test="school != null">
                school = #{school,jdbcType=VARCHAR},
            </if>
            <if test="telephone != null">
                telephone = #{telephone,jdbcType=VARCHAR},
            </if>
            <if test="telephoneParent != null">
                telephone_parent = #{telephoneParent,jdbcType=VARCHAR},
            </if>
            <if test="desc != null">
                desc = #{desc,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ezhihui.www.domain.Student">
    update tb_student
    set name = #{name,jdbcType=VARCHAR},
      grade = #{grade,jdbcType=INTEGER},
      class = #{className,jdbcType=VARCHAR},
      school = #{school,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=VARCHAR},
      telephone_parent = #{telephoneParent,jdbcType=VARCHAR},
      desc = #{desc,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>